body {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5; /* Añade un color de fondo para ver el efecto de centrado */
}  
